/* home sectio start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.btn:hover{
background-color: rgb(20, 20, 20);
font-family: 'Poppins', sans-serif;
border-color: #f2f7f4;
color: #eb0707;



}
.btn{
    background-color: #dd0a51;
    color: aliceblue;
}
.links{
    display: flex;
    color: #ffffff;
    font-size: 20px;
    background-color: rgb(47, 3, 78);
    width: 1000%;
    height: 50px;
    
    margin-top: -10px;
    margin-bottom: 50px;
  
} 
.size img{
    width: 600px;
}
.home-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    margin-left: -80px;
}
.links a{
    margin-bottom: 10px;
}
.sima a:hover{
    transform: rotate(180deg);
}
.sima a span{
    color: #eb0707;
}
.link{
    display: flex;
}
.link a:hover{
   text-decoration: none;
    color: #984cd6;
    font-family: 'Poppins', sans-serif;
}

/* home section end */
/* services section start */
#section-home{
    font-family: 'Poppins', sans-serif;
    height: 500px;
    background-color: rgb(3, 3, 51);
}
#about-section{
    background-color: rgb(226, 226, 230);
    margin-top: -5px;
    padding-bottom: 20px;
   
   

}

.about{
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    bottom: -50px;
    margin-bottom: 60px;
    
    
}
.about::before{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 145px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.about::after{
    content: "Who i am";
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 10px;
    
    font-size: 15px;
    color: red;
   ;
    transform: translateX(-50%);
}
.service{
    margin-bottom: 40px;
    bottom: -600px;
    padding-bottom: 50px;
}

.works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container-work{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}
.boxes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.box{
    width: 250px;
    height: 380px;
   text-align: center;
}
.box.one{
    background-color: rgb(99, 10, 107);
    z-index: 1;
    color: azure;
}
.box.one img{
    width: 250px;
    height: 150px;
}
.box.one a{
    text-decoration: none;
    color: white;
    background: #06148b;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}
.box.one a:hover{
    background: rgb(2, 2, 2);
    color: rgb(190, 8, 8);
    border: 2px solid #1ebae9;
}
.box.two{
    position: absolute;
    background-color: rgb(245, 229, 11);
    z-index: 0;
    transition: transform 2s;
}
.box.one:hover + .box.two{
    transform: rotate(10deg);
}
.inner{
    width: 300px;
    height: 400px; 
    background-color: #984cd6;

}
.inner a{
    text-decoration: none;
    color: #ffffff;
}
/* services section end */
/* skills section start */
.container-skills{
    width: 100%;
    height: 100vh;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -60px;
    padding-bottom: -50px;
}
.skills h3{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: black;
    font-size: 36px;
}
.progress-bar{
    background-color: #f7f7f7;
    width: 1000px;
    height: 50px;
    border-radius: 5px;
}
.progress-bar div{
    height: 17px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-design{
    background: #e93e0a;
    animation: web-design 1s linear forwards;
}
.graphics{
    background: #7f09e0;
    animation: graphics 1s linear forwards;
}
.photography{
    background: #1e3de9;
    animation: photography 1s linear forwards;
}
.audio-editing{
    background: #ce0aa3;
    animation: audio-editing 1s linear forwards;
}
.video-editing{
    background: #c9ec04;
    animation: video-editing 1s linear forwards;
}
.animation{
    background: #0eeb06;
    animation: animation 1s linear forwards;
}
.web-design span{
    border: 1px solid #e91e63;
}
.graphics span{
    border: 1px solid #e91e63;
}
.photography span{
    border: 1px solid #e91e63;
}
.audio-editing span{
    border: 1px solid #e91e63;
}
.animation span{
    border: 1px solid #e91e63;
}
.video-editing span{
    border: 1px solid #e91e63;
}
@keyframes web-design{
    100%{
        width: 90%;
    }
}
@keyframes graphics{
    100%{
        width: 95%;
    }
}
@keyframes photography{
    100%{
        width: 90%;
    }
}
@keyframes audio-editing{
    100%{
        width: 88%;
    }
}
@keyframes animation{
    100%{
        width: 96%;
    }
}
@keyframes video-editing{
    100%{
        width: 92%;
    }
}
/* skills section end */
/* sample section start */
.works .card:hover{
    border: 1px solid goldenrod;
}
/* portfolio section start */
.top{
    margin-bottom: 30px;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    overflow: hidden;
}
.images img{
    width: 30vw;
    height: 20vw;
    transition: all 1.4s ease;
}
.img:hover{
    transform: scale(1.2);
}
.images2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    overflow: hidden;
}
.images2 img{
    width: 30vw;
    height: 20vw;
    transition: all 1.4s ease;
}
.img:hover{
    transform: scale(1.14);
}
/* portfolio section end */
/* accordion section start */

.accordion-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion-items .accordion-item{
    margin: 10px;
}
/* footer section start */
.footer{
    background: rgb(5, 5, 53);
    height: 250px;
}
.footer .footer-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.footer .footer-item .personal-info{
    margin-left: 30px;
}
.footer .footer-item .footer-link a{
    display: block;
    text-decoration: none;
    color: white;
}
.footer .footer-item .privacy a{
text-decoration: none;
color: white;
display: block;
}
.footer .footer-item .privacy a:hover{
text-decoration: underline;
color: goldenrod;
}
.footer .footer-item .contact p{
    color: #ffffff;
}
hr{
    color: #f7f7f7;
}
.social-icon img{
    width: 40px;
}
/* sTyle for mobile */
@media screen and (max-width:767px){
    .navbar .links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .home-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
   .home-page{
        width: 100%;
        text-align: center;
        margin-left: 5px;
        margin-top: 52px;
    }
    .home-section img{
        width: 45vw;
    }
    .about-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .about img{
        width: 50vw;
        margin-left: 85px;
    }
    .about .about-body{
        width: 100%;
        text-align: center;
        padding: 0 50px;
    }
    .about .about-body a{
        font-size: 10px;
        padding: 5px;
    }
    .works{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    
    .images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .images img{
        width: 100%;
        height: 70vw;
        justify-content: center;
        align-items: center;
        transition: all 1.4s ease;
    }
    .container-work{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-skills{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        height: fit-content;
        margin-top: 30px;
    }
    .skills{
        width: 100%;
        text-align: center;
    }
    .container-skills .skills .progress-bar{
        width: 100%;
        text-align: center;
    }
    .footer .footer-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .footer .footer-item .personal-info{
        text-align: center;
        margin: 0;
    }
    .footer .footer-item .footer-link{
       text-align: center;
    }
    .footer .footer-item .privacy{
        text-align: center;
    }
    .footer .footer-item .contact{
        text-align: center;
    }
}